.submit-view {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 var(--lumo-space-l);
}
.submit-view .button-layout {
  margin-bottom: var(--lumo-space-l);
  margin-top: var(--lumo-space-m);
}
.clock-style {
  color: var(--lumo-secondary-text-color);
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);
  font-weight: 600;
  font-family: var(--lumo-font-family);
}
.no-event-label {
  color: var(--lumo-secondary-text-color);
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);
  font-weight: 600;
  font-family: var(--lumo-font-family);
}
